.about-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
}

.about-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #F2F2F2;
    margin: 0;
    padding: 0;
    width: 100%;
}

.about-banner-wrap {
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;
}

.about-banner_mobile {
    display: none;
}

.about-banner {
    width: 100%;
    max-height: 650px;
    object-fit: cover;
}

.about-banner-wrap::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background-color: #050505;
    clip-path: polygon(0% 100%, 100% 0%, 100% 100%);
}

.about-banner-text-section {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 20%;
    padding: 60px 160px 0px 160px;
    gap: 40px;
}

.about-banner-title {
    font-family: "Manuka";
    font-size: 100px;
    font-style: normal;
    font-weight: 850;
    line-height: 100px;
    text-transform: uppercase;
    text-align: start;
    position: relative;
    color: #F2F2F2;
    margin: 0px;
    padding: 0px;
    width: 100%;
}

.about-banner-subtitle {
    font-family: "Proxima Nova";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    text-align: start;
    text-transform: none;
    letter-spacing: normal;
    position: relative;
    padding: 0px;
    margin: 0px;
    width: 100%;
    color: #F2F2F2;
}

.about-league-format {
    margin-bottom: 60px;
}

.about-dropdown-wrapper {
    padding: 0px 80px;
    max-width: 1450px;
}

.about-format-breakdown {
    font-family: "Proxima Nova";
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: #9ECB3B;
    margin: 20px 0px;
}

.about-format-title {
    font-family: "Manuka";
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: 64px;
    text-transform: uppercase;
    color: #F2F2F2;
    margin: 20px 0px;
}

.about-nexus-shield {
    padding: 20px 0px;
}

.about-divider {
    width: 100%;
    height: 2px;
    background-color: #F2F2F2;
    margin: 40px auto;
}

.about-format-verse {
    color: #F2F2F2;
    font-family: "Proxima Nova";
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 4px;
    text-transform: uppercase;
    padding-bottom: 20px;
}

.about-dropdown-container {
    position: relative;
    display: inline-block;
    width: 100%;
    padding: 0px;
    max-width: 1450px;

}

.about-dropdown-button {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 64px;
    padding: 0px 20px;
    border: 1px solid #333;
    border-radius: 16px;
    background-color: #1C1C1C;
    cursor: pointer;
    transition: background-color 0.3s ease, min-height 0.3s ease;
    white-space: nowrap;
    overflow: hidden;
    margin-top: 8px;
    max-width: 1450px;
}

.about-dropdown-button:hover {
    background-color: #0E0E0E;
    border-radius: 16px;
}

.about-dropdown-button.active {
    background-color: #0E0E0E;
    min-height: 64px;
    height: auto;
    padding: 0px 20px;
    max-width: 1450px;
}

.about-dropdown-bar {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.about-sport-icon {
    width: 32px;
    height: 32px;
}

.about-sport-title {
    color: #F2F2F2;
    font-family: "Proxima Nova";
    font-size: 20px;
    font-weight: 600;
    font-style: normal;
    text-transform: uppercase;
    line-height: 24px;
    letter-spacing: 4px;
    margin-left: 12px;
}

.about-dropdown-arrow {
    margin-left: auto;
    padding-bottom: 4px;
    font-size: 20px;
    color: #9ECB3B;
    transition: transform 0.3s ease;
}

.about-dropdown-arrow.open {
    color: #9ECB3B;
    transform: rotate(180deg);
    padding-bottom: 0px;
}

.about-downarrow-icon {
    width: 18px;
    height: 18px;
    margin-top: 2px;
}

.about-sports-description {
    font-family: "Proxima Nova";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    text-transform: none;
    color: #F2F2F2;
    text-align: start;
    white-space: normal;
    overflow-wrap: break-word;
    word-break: break-word;
    max-width: 1450px;
    padding-bottom: 20px;
}

.about-team-connect {
    position: relative;
    background-color: #F2F2F2;
    padding-top: 60px;
    padding-bottom: 20px;
    width: 100%;
}

.about-team-connect::before {
    content: "";
    position: absolute;
    bottom: calc(100% - 1px);
    left: 0;
    width: 100%;
    height: 82px;
    background-color: #F2F2F2;
    clip-path: polygon(0% 100%, 100% 0%, 100% 100%);
}

.about-connect-title {
    font-family: "Manuka";
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
    color: #050505;
    margin: 0px;
}

.about-connect-inquiries {
    font-family: "Proxima Nova";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    color: #050505;
    margin-top: 20px;
    margin-bottom: 40px;
    letter-spacing: normal;
    text-transform: none;
}

.about-connect-form {
    display: flex;
    flex-direction: column;
    width: 750px;
    margin: 0 auto;
    align-items: center;
    gap: 20px;
}

.about-personal-info-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    width: 100%;
    justify-content: space-between;
}

.about-personal-info-row input {
    flex: 1;
    background-color: #F2F2F2;
    border: 1px solid #333;
    border-radius: 16px;
    padding: 20px;
    font-family: "Proxima Nova";
    font-size: 16px;
    font-weight: 300;
    color: #050505;
    outline: none;
    transition: border-color 0.3s ease;
}

.about-personal-info-row input:focus {
    border-color: #050505;
}

.contact-subject-form {
    width: stretch;
    flex: 1;
    background-color: #F2F2F2;
    color: #050505;
    font-family: "Proxima Nova";
    font-size: 16px;
    font-weight: 300;
    border: 1px solid #333;
    border-radius: 16px;
    padding: 20px;
    outline: none;
    transition: border-color 0.3s ease;
}

.about-personal-info-row input::placeholder,
.contact-subject-form::placeholder,
.contact-message-form::placeholder {
    color: #050505;
    opacity: 1;
}

.contact-message-form {
    width: 100%;
    min-height: 200px;
    resize: vertical;
    background-color: #F2F2F2;
    color: #050505;
    font-family: "Proxima Nova";
    font-size: 16px;
    font-weight: 300;
    padding: 20px;
    border: 1px solid #333;
    border-radius: 16px;
    outline: none;
    transition: border-color 0.3s ease;
    box-sizing: border-box
}

.contact-submit-button {
    flex: 1;
    width: stretch;
    background-color: #1C1C1C;
    color: #F2F2F2;
    padding: 24px;
    border-radius: 16px;
    border: 1px solid #333;
    font-family: "Proxima Nova";
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 16px;
    letter-spacing: 3.2px;
    text-transform: uppercase;
}

.contact-submit-button:hover {
    background-color: #0E0E0E;
    border-radius: 16px;
    border: 1px solid #333;
    padding: 24px;
    font-family: "Proxima Nova";
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 16px;
    letter-spacing: 3.2px;
    text-transform: uppercase;
}

.contact-submit-button:active {
    background-color: #9ECB3B;
    color: #050505;
    border-radius: 16px;
    border: 1px solid #9ECB3B;
    padding: 24px;
    font-family: "Proxima Nova";
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 16px;
    letter-spacing: 3.2px;
    text-transform: uppercase;
}

.about-socials-row {
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: #F2F2F2;
    gap: 8px;
    justify-content: center;
    padding-bottom: 40px;
}

.about-social-button {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 0px 8px;
    border: 1px solid #9ECB3B;
    background-color: transparent;
    color: #9ECB3B;
    font-family: "Proxima Nova";
    font-size: 20px;
    font-weight: 400;
    border-radius: 100px;
    text-decoration: none;
    transition: all 0.3s ease;
    width: max-content;
    height: 30px;
}

.about-social-button:hover {
    background: rgba(28, 28, 28, 0.20);
}

.about-social-button:active {
    background-color: #9ECB3B;
    color: #050505;
}

.about-button-text {
    color: #050505;
    font-family: "Proxima Nova";
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: normal;
    text-transform: none;
}


/* Tablet View (up to 1200px) */
@media screen and (max-width: 1200px) {
    .about-banner-text-section {
        top: 15%;
    }

    .about-banner-title {
        font-size: 100px;
        line-height: normal;
        width: 100%;
    }

    .about-banner-subtitle {
        width: 80%;
        bottom: 8%;
    }

    .about-dropdown-wrapper {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 0px 20px;
    }

    .about-divider {
        margin: 40px 0px;
    }

    .about-format-verse {
        margin: 0px;
        margin-bottom: 20px;
    }
}


/* Phone View (up to 768px) */
@media screen and (max-width: 900px) {
    .about-page {
        padding: 0px;
    }

    .about-banner {
        display: flex;
    }

    .about-banner-wrap {
        width: 100%;
    }

    .about-banner_mobile {
        display: none;
        width: 100%;
    }

    .about-banner-text-section {
        top: 10%;
        padding: 20px 40px;
        gap: 80px;
    }

    .about-banner-title {
        font-size: 100px;
        line-height: 100px;
        width: 100%;
    }

    .about-banner-subtitle {
        font-size: 16px;
        width: 80%;
        line-height: 20px;
    }

    .about-league-format {
        padding: 0px 20px;
    }

    .about-format-title {
        font-size: 64px;
        font-weight: 800;
        line-height: 64px;
        text-transform: uppercase;
        flex-wrap: wrap;
        letter-spacing: 2.2px;
    }

    .about-nexus-shield {
        display: none;
    }

    .about-format-breakdown {
        font-family: "Proxima Nova";
        font-size: 20px;
        font-weight: 600;
        line-height: 24px;
        letter-spacing: 4px;
        text-transform: uppercase;
    }

    .about-divider {
        margin: 30px 0px;
    }

    .about-format-verse {
        font-size: 20px;
        line-height: 24px;
        letter-spacing: 4px;
        padding: 0px;
    }

    .about-dropdown-button {
        min-height: 56px;
        padding: 0 16px;
        white-space: wrap;
    }

    .about-sport-title {
        font-size: 16px;
        letter-spacing: 2px;
    }

    .about-sports-description {
        font-size: 14px;
        line-height: 18px;
    }

    .about-connect-title {
        font-size: 64px;
        line-height: 64px;
        text-align: center;
    }

    .about-connect-inquiries {
        font-size: 16px;
        font-weight: 400;
        text-align: center;
        padding: 0 10px;
    }

    .about-connect-form {
        width: 90%;
        padding: 0 10px;
    }

    .about-personal-info-row {
        gap: 10px;
    }

    .contact-message-form {
        width: 100%;
    }

    .contact-submit-button {
        width: 100%;
    }

    .about-socials-row {
        gap: 10px;
        align-items: center;
    }

    .about-social-button {
        font-size: 16px;
        height: 36px;
        padding: 0 12px;
    }
}

@media screen and (max-width: 800px) {
    .about-banner {
        display: none;
    }

    .about-banner_mobile {
        display: block;
        width: 100%;
    }
}

@media screen and (max-width: 570px) {
    .about-banner-text-section {
        top: 10%;
        gap: 40px;
        padding: 20px 20px;
    }

    .about-banner-title {
        font-size: 64px;
        line-height: normal;
        width: 100%;
    }

    .about-banner-subtitle {
        font-size: 14px;
        line-height: normal;
        width: 100%;
    }

    .about-format-title {
        font-family: "Manuka";
        font-size: 48px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        text-transform: uppercase;
        padding: 0px 20px;
    }

    .about-format-verse {
        font-family: "Proxima Nova";
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 16px;
        letter-spacing: 3.2px;
        text-transform: uppercase;
    }

    .contact-container {
        padding: 0px 20px;
    }

    .about-connect-title {
        font-family: "Manuka";
        font-size: 48px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        text-transform: uppercase;
    }

    .about-connect-form {
        padding: 0px;
        gap: 10px;
    }

    .about-personal-info-row {
        display: flex;
        flex-direction: column;
    }

    .about-personal-info-row input {
        width: 100%;
    }

    .about-socials-row {
        display: none;
    }

    .about-dropdown-wrapper {
        padding: 0px;
    }

    .contact-submit-button {
        margin: 20px 0px;
    }
}