/*** Proxima Nova Fonts ***/
/* Regular */
@font-face {
  font-family: 'Proxima Nova';
  src: url('../fonts/proxima-nova/proximanova_regular.ttf') format('truetype');
  font-weight: 400;
  /* Normal */
  font-style: normal;
}

/* Light */
@font-face {
  font-family: 'Proxima Nova';
  src: url('../fonts/proxima-nova/proximanova_light.otf') format('opentype');
  font-weight: 300;
  /* Light */
  font-style: normal;
}

/* Bold */
@font-face {
  font-family: 'Proxima Nova';
  src: url('../fonts/proxima-nova/proximanova_bold.otf') format('opentype');
  font-weight: 700;
  /* Bold */
  font-style: normal;
}

/* Extra Bold */
@font-face {
  font-family: 'Proxima Nova';
  src: url('../fonts/proxima-nova/proximanova_extrabold.otf') format('opentype');
  font-weight: 800;
  /* Extra Bold */
  font-style: normal;
}

/* Black */
@font-face {
  font-family: 'Proxima Nova';
  src: url('../fonts/proxima-nova/proximanova_black.otf') format('opentype');
  font-weight: 900;
  /* Black */
  font-style: normal;
}

/* Bold Italic */
@font-face {
  font-family: 'Proxima Nova';
  src: url('../fonts/proxima-nova/proximanova_boldit.otf') format('opentype');
  font-weight: 700;
  /* Bold */
  font-style: italic;
}

/* Black Italic */
@font-face {
  font-family: 'Proxima Nova';
  src: url('../fonts/proxima-nova/proximanova_blackit.otf') format('opentype');
  font-weight: 900;
  /* Black */
  font-style: italic;
}

/*** Phonk Font ***/
/* Phonk Regular */
@font-face {
  font-family: 'Phonk';
  src: url('../fonts/phonk/phonk_regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

/* Phonk Contrast */
@font-face {
  font-family: 'Phonk';
  src: url('../fonts/phonk/phonk_contrast.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}