/***  TOP BAR STYLING  ***/
.topnavbar {
    min-width: 100%;
    background-color: #0E0E0E; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #F2F2F2;
    font-size: 16px; 
    font-weight: 800;
    padding: 16px 80px; 
    height: auto; 
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.25);
    top: 0;
    z-index: 9999;
    border-bottom: 1px solid #333;
    position: sticky; /* Keep the navbar at the top during scroll */
}

.logo {
    padding-left: 80px;
}

.logo img {
    max-width: 30px; 
    max-height: 50px; 
    display: inline-flex;
    
}

.navbar-right .navbar-links {
    list-style-type: none;
    padding: 0 80px;
    margin: 0;
    display: flex;
    text-align: center;
    font-family: "Proxima Nova";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 3.2px;
    text-transform: uppercase;
    color: #F2F2F2;
    display: flex;
    justify-content: flex-end;
    gap: 6rem;
}

.navbar-right .navbar-links li {
    box-sizing: border-box;
    margin: 0px;
    min-width: min-content;
    max-width: max-content;
}

.navbar-right .navbar-links a {
    color: #F2F2F2;
    font-size: 16px; 
    text-decoration: none;
    transition: all 0.3s ease;
}

.navbar-right .navbar-links a:hover {
    transition: all 0.3s ease;
    color: #d2d2d2ba
}

.navbar-right .navbar-links .active {
    color: #9ECB3B;
    font-weight: 800;
}

.mobile-menu-icon {
    display: none;
    color: #f2f2f2;
    padding-right: 24px;
    cursor: pointer;
}

/*** FOOTER STYLING ***/
.footer {
    min-width: 100%;
    height: min-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0E0E0E; 
    color: #F2F2F2;
    font-family:'Proxima Nova';
    position: relative;
    padding: 64px 80px;
}

.footer-title {
    margin: 0px 80px;
}

.footer-title img {
    max-width: 270px;
    height: auto;
}

.footer .footer-right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: right;
    margin: 0px 80px;
}

.footer .footer-right .lil-msg {
    color: #F2F2F2;
    text-align: right;
    font-family: 'Proxima Nova';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: none;
    margin: 8px 0px;
    letter-spacing: 0px;
}

.footer-right .logo-line {
    align-items: center;
    justify-content: center;
    align-content: center;
}

.ig-logo {
    width: 24px;
    height: 24px;
    margin: 0px 6px;
    cursor: pointer;
}

.mail-logo {
    width: 24px;
    height: 24px;
    margin: 0px 6px;
    cursor: pointer;
}

.footer a {
    text-decoration: none;
    color: #F2F2F2;
}

.footer .footer-right a:hover {
    opacity: 0.7;
}

@media (max-width: 768px) {
    .topnavbar {
        padding: 0px;
        min-width: 100%;
        width: stretch;
        display: block;
        height: min-content;
        position: absolute;
        background-color: transparent;
        border: transparent;
        box-shadow: none;
        flex-grow: 1;
    }

    .mobile-menu-icon {
        display: block;
        position: absolute;
        top: 28px;
        right: 1%;
        z-index: 1001;
        border-radius: 18px;
        border: 1px solid #333;
        background-color: #1C1C1C;
        padding: 12px 16px 10px 16px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .mobile-menu-icon.open {
        background-color: transparent;
        border: transparent;
        padding: 10px 20px;
    }

    .navbar-right {
        display: flex;
        position: relative;
        width: 100%;
        height: 60px;
        background-color: #0E0E0E;
        flex-direction: column;
        align-items: center;
        transform: translateY(-100%);
        transition: transform 0.3s ease-in-out;
        overflow-y: auto;
        z-index: 1000;
    }

    .navbar-right.open {
        position: relative;
        box-sizing: border-box;
        display: flex;
        transform: translateY(0);
        height: max-content;
        padding-bottom: 20px;
        padding-top: 20px;
        gap: 0px;
        align-items: center;
        justify-content: center;
        z-index: 1000;
    }

    .navbar-right.open .navbar-links {
        width: 100%;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        gap: 20px;
        place-items: center;
        padding: 20px 0px;
    }

    .navbar-links {
        box-sizing: border-box;
        flex-direction: column;
        padding: 20px;
        column-gap: 0px;
    }

    .navbar-links a {
        font-size: 18px;
        padding: 12px 24px;
    }

    .logo img {
        display: none;
    }

    .footer {
        padding: 0px 20px;
    }

    .footer .footer-right {
        margin: 20px;
    }

    .footer .footer-title {
        margin: 20px;
    }
}