  .stats-container {
      width: 100%;
      display: flex;
      justify-content: center;
      background-color: #050505;
      padding-bottom: 60px;
      box-sizing: border-box;
      overflow: hidden;
  }

  .stats {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 1200px;
    padding: 40px 80px;
    background-color: #050505;
    color: #F2F2F2;
    flex-direction: column;
    gap: 20px;
  }

  .stats-menu {
    background-color: #0E0E0E;
    display: flex;
    padding: 0px 20px;
    align-items: center;
    align-self: stretch;
    width: stretch;
    border-radius: 20px;
    gap: 20px;
    flex-direction: column;
  }

  .stats-header {
    font-family: "Proxima Nova";
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px; 
    letter-spacing: 6.4px;
    text-transform: uppercase;
    align-self: flex-start;
  }

  .stats-team-dropdown {
    width: 100%;
  }

  .stats-dropdown-container {
    width: 100%;
    position: relative;
    display: inline-block;
  }

  .stats-dropdown-button {
    height: 65px;
    border: 1px solid #333;
    background-color: #1C1C1C;
    border-radius: 16px;
    display: flex;
    justify-content: space-between;  
    align-items: center; 
    cursor: pointer;
    position: relative;
    box-sizing: border-box;
    padding: 10px;
    width: 100%; 
  }

  .stats-team-row {
    display: flex;
    align-self: stretch;
    align-items: center;
    border-radius: 16px;
    padding: 0px 10px;
    flex-direction: row;
    align-items: center;
    gap: 8px; 
    flex-grow: 1;
  }

  .stats-team-details {
    margin: 0px 0px -16px 0px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2px;
    flex-grow: 1;
  }

  .stats-team-info-row {
    display: flex;
    align-items: center;
    vertical-align: center;
    gap: 4px; 
  } 

  .stats-team-name {
      font-family: "Proxima Nova";
      font-size: 20px;
      font-style: normal;
      font-weight: 600;
      color: #F2F2F2;
      text-transform: uppercase;
      margin: 0;  
      letter-spacing: normal;
      line-height: 20px;
      align-items: center;
      text-transform: none;
  }
    
  .stats-team-abbrev {
    color: #D2D2D2;
    font-size: 16px;
    font-weight: 400;
    margin: 0;
    letter-spacing: normal;
  }
    
  .stats-team-record {
    font-family: "Proxima Nova";
    font-size: 16px;
    color: #F2F2F2;
    margin-top: 4px; 
    margin-bottom: 20px;
    letter-spacing: normal;
  }

  .stats-dropdown-button.no-details {
    align-items: center; 
    height: 65px
  }

  .stats-dropdown-button.no-details .stats-team-name {
    align-items: center;
    padding-bottom: 20px;
  }

  .stats-dropdown-button.no-details .stats-team-record,
  .stats-dropdown-button.no-details .stats-team-abbrev {
    display: none; /* Completely hide abbrev and record */
  }


  .stats-dropdown-button:hover {
    background-color: #161616;
    font-size: 16px;
    font-weight: 500;
    border-radius: 16px;
  }
  
  .stats-dropdown-button.active {
    font-size: 16px;
    font-weight: 600;
    background-color: #9ECB3B;
    color: #161616;
    border: 1px solid #9ECB3B;
    border-radius: 16px;
  }

  .stats-dropdown-button.active .stats-team-name {
    font-family: "Proxima Nova";
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    color: #050505;
    text-transform: uppercase;
    margin: 0;  
    letter-spacing: normal;
    line-height: 20px;
    text-transform: none;
  }

  .stats-dropdown-button.active .stats-team-abbrev {
    font-family: "Proxima Nova";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    color: #050505;
  }

  .stats-dropdown-button.active .stats-team-record {
    font-family: "Proxima Nova";
    font-size: 16px;
    color: #050505;
    margin-top: 4px; 
    margin-bottom: 20px;
    letter-spacing: normal;
  }

  .stats-dropdown-button.active .team-icon.default-icon {
    filter: brightness(0) saturate(100%) invert(6%) sepia(8%) saturate(0%) hue-rotate(220deg) brightness(30%) contrast(90%);
}

.team-icon.refined-icon {
    filter: none; 
}
  
  .stats-dropdown-arrow {
    font-size: 20px;
    color: #9ECB3B;
    margin-right: 10px;  
    flex-shrink: 0; 
  }

  .stats-dropdown-arrow.open {
    color: #161616;
  }

  .stats-dropdown-menu {
    position: absolute;
    left: 0;
    width: 100%; 
    background-color: #1C1C1C;
    color: #F2F2F2;
    list-style: none;
    padding: 0px 0px;
    margin: 10;
    overflow: hidden;
    animation: dropdown-slide-down 0.3s ease forwards;
    z-index: 1000;
    border-radius: 0 0 2px 2px;
    border-top: 8px solid #9ECB3B;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.25);
  }
  
  .stats-dropdown-item {
    padding: 15px 20px;
    font-size: 16px;
    font-family: "Proxima Nova";
    font-weight: 600;
    letter-spacing: 3.2px;
    background-color: transparent;
    cursor: pointer;
    text-transform: uppercase;
    transition: background-color 0.2s ease, padding-left 0.3s ease;
    border: 1px solid rgba(255, 255, 255, 0.1); 
  }
  
  .stats-dropdown-item:hover {
    background-color: #161616;
  }
  
  .stats-dropdown-item:active {
    background-color: #9ECB3B;
    color: #161616;
  }

  .stats-button-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    padding: 20px 0px;
    margin: 20px 0px; 
    gap: 30px; 
  }

  .stats-date-dropdown {
      flex-shrink: 0; /* Prevent the dropdown from shrinking */
  }

  .stats-sports-button-row {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 20px; 
  }

  .stat-sport-button {
    width: 70px; 
    height: 70px;
    cursor: pointer;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
  } 


  .stat-sport-button.active {
    transform: scale(1.1);
}

  .stats-leaderboard-wrap {
    background-color: #0E0E0E;
    display: flex;
    padding: 0px 20px;
    padding-bottom: 60px;
    align-items: center;
    align-self: stretch;
    width: stretch;
    border-radius: 20px;
    gap: 20px;
    flex-direction: column;
  }

  .stats-leaderboard-title {
    font-family: "Proxima Nova";
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 4px;
    text-transform: uppercase;
    align-self: start;
    padding-top: 10px;
  }

.stats-leaderboard-row {
    width: stretch;
    display: flex;
    gap: 20px;
    justify-content: space-between;
}

.leaderboard-card {
    display: flex;
    flex: 1;
    flex-direction: column;
    border-radius: 16px;
    border: 1px solid #333;
    background: #1C1C1C;
    padding: 20px;
    min-width: 100px;
    width: fit-content;
    text-align: left;
    color: white;
    position: relative;
    overflow: hidden;
}

.leaderboard-card::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 40%;
  height: 100%;
  background-color: #9ECB3B;
  clip-path: polygon(70% 0%, 100% 0%, 100% 100%, 90% 100%);
}

.stat-title {
    font-family: "Proxima Nova";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    color: #F2F2F2;
    text-transform: none;
    letter-spacing: normal;
    padding: 0;
    margin: 0px;
}

.leader-name {
    font-size: 1rem;
    font-weight: bold;
    margin-top: 8px;
    text-transform: none;
    letter-spacing: normal;
    margin: 0px;
    padding-bottom: 20px;
}

.leader-value {
    font-family: "Manuka";
    font-size: 64px;
    font-style: normal;
    font-weight: 850;
    line-height: 64px; 
    text-transform: none;
    letter-spacing: normal;
    margin: 0px;
}

.stats-player-list {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    width: 100%;
    gap: 8px;
}

.player-card {
    display: flex;
    align-items: center;
    background: #1C1C1C;
    border-radius: 16px;
    border: 1px solid #333;
    padding: 0px 20px;
    color: #F2F2F2;
    position: relative;
}

.rank {
    font-size: 1rem;
    font-weight: bold;
    margin-right: 10px;
}

.rank-up {
    color: #8fcf4d;
    margin-right: 5px;
}

.rank-down {
    color: red;
    margin-right: 5px;
}

.player-info {
    flex-grow: 1;
}

.player-name {
    font-size: 1rem;
    font-weight: bold;
}

.player-team {
    font-size: 0.9rem;
    color: #aaa;
    margin-left: 5px;
}

.player-stats {
    font-size: 0.9rem;
    margin-top: 5px;
}

.player-badges {
    display: flex;
    gap: 5px;
}

.badge {
    background: none;
    border: 1px solid #8fcf4d;
    padding: 4px 8px;
    border-radius: 12px;
    font-size: 0.8rem;
    color: #8fcf4d;
}

.input-stats-button {
  display: flex;
  height: 62px;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  border-radius: 16px;
  border: 1px solid #333;
  background-color: #1C1C1C;
}