  .stats-container {
      width: 100%;
      display: flex;
      justify-content: center;
      background-color: #050505;
      padding-bottom: 60px;
      box-sizing: border-box;
      overflow: hidden;
  }

  .stats {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 1200px;
    padding: 80px;
    background-color: #050505;
    color: #F2F2F2;
    flex-direction: column;
    gap: 20px;
  }

  .stats-menu {
    background-color: #0E0E0E;
    display: flex;
    padding: 0px 20px;
    align-items: center;
    align-self: 100%;
    width: 100%;
    border-radius: 20px;
    gap: 20px;
    flex-direction: column;
  }

  .stats-menu-arrangement-desktop {
    width: 100%;
  }

  .stats-menu-arrangement-mobile {
    display: none;
  }

  .stats-header {
    font-family: "Proxima Nova";
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px; 
    letter-spacing: 6.4px;
    text-transform: uppercase;
    align-self: flex-start;
    margin-bottom: 20px;
  }

  .stats-team-dropdown {
    width: 100%;
  }

  .stats-dropdown-container {
    width: 100%;
    position: relative;
    display: inline-block;
  }

  .stats-dropdown-button {
    height: 65px;
    border: 1px solid #333;
    background-color: #1C1C1C;
    border-radius: 16px;
    display: flex;
    justify-content: space-between;  
    align-items: center; 
    cursor: pointer;
    position: relative;
    box-sizing: border-box;
    padding: 10px;
    width: 100%; 
  }

  .stats-team-row {
    display: flex;
    align-self: 100%;
    align-items: center;
    border-radius: 16px;
    padding: 0px 10px;
    flex-direction: row;
    align-items: center;
    gap: 8px; 
    flex-grow: 1;
  }

  .stats-team-details {
    margin: 0px 0px -16px 0px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2px;
    flex-grow: 1;
  }

  .stats-team-info-row {
    display: flex;
    align-items: center;
    vertical-align: center;
    gap: 4px; 
  } 

  .stats-team-name {
      font-family: "Proxima Nova";
      font-size: 20px;
      font-style: normal;
      font-weight: 600;
      color: #F2F2F2;
      letter-spacing: normal;
      text-transform: uppercase;
      margin: 0;  
      line-height: 16px;
      align-items: center;
      text-transform: none;
  } 

  .all-teams-name {
    font-family: "Proxima Nova";
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    color: #F2F2F2;
    letter-spacing: normal;
    text-transform: uppercase;
    margin: 0px;  
    line-height: 16px;
    align-items: center;
    text-transform: none;
    letter-spacing: 3.2px;
  }
    
  .stats-team-abbrev {
    color: #D2D2D2;
    font-size: 16px;
    font-weight: 400;
    margin: 0;
    letter-spacing: normal;
  }
    
  .stats-team-record {
    font-family: "Proxima Nova";
    font-size: 16px;
    color: #F2F2F2;
    margin-top: 4px; 
    letter-spacing: normal;
  }

  .stats-dropdown-button:hover {
    background-color: #161616;
    font-size: 16px;
    font-weight: 500;
    border-radius: 16px;
  }
  
  .stats-dropdown-button.active {
    font-size: 16px;
    font-weight: 600;
    background-color: #9ECB3B;
    color: #161616;
    border: 1px solid #9ECB3B;
    border-radius: 16px;
  }

  .stats-dropdown-button.active .stats-team-name {
    font-family: "Proxima Nova";
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    color: #050505;
    text-transform: uppercase;
    letter-spacing: normal;
    margin: 0;  
    line-height: 16px;
    text-transform: none;
  }

  .stats-dropdown-button.active .all-teams-name {
    letter-spacing: 3.2px;
  }

  .stats-dropdown-button.active .stats-team-abbrev {
    font-family: "Proxima Nova";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    color: #050505;
  }

  .stats-dropdown-button.active .stats-team-record {
    font-family: "Proxima Nova";
    font-size: 16px;
    color: #050505;
    margin-top: 4px; 
    margin-bottom: 20px;
    letter-spacing: normal;
  }

  .stats-dropdown-button.active .team-icon.default-icon {
    filter: brightness(0) saturate(100%) invert(6%) sepia(8%) saturate(0%) hue-rotate(220deg) brightness(30%) contrast(90%);
}

.team-icon.refined-icon {
    filter: none; 
}
  
  .stats-dropdown-arrow {
    font-size: 20px;
    color: #9ECB3B;
    margin-right: 10px;  
    flex-shrink: 0; 
    transition: transform 0.3s ease; 
  }

  .stats-dropdown-arrow.open {
    color: #161616;
    transform: rotate(180deg); 
    padding-bottom: 0px;
  }

  .stats-dropdown-menu {
    position: absolute;
    left: 0;
    width: 100%; 
    background-color: #1C1C1C;
    color: #F2F2F2;
    list-style: none;
    padding: 0px 0px;
    margin: 10;
    overflow: hidden;
    animation: dropdown-slide-down 0.3s ease forwards;
    z-index: 1000;
    border-radius: 0 0 2px 2px;
    border-top: 8px solid #9ECB3B;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.25);
  }
  
  .stats-dropdown-item {
    padding: 15px 20px;
    font-size: 16px;
    font-family: "Proxima Nova";
    font-weight: 600;
    letter-spacing: 3.2px;
    background-color: transparent;
    cursor: pointer;
    text-transform: uppercase;
    transition: background-color 0.2s ease, padding-left 0.3s ease;
    border: 1px solid rgba(255, 255, 255, 0.1); 
  }
  
  .stats-dropdown-item:hover {
    background-color: #161616;
  }
  
  .stats-dropdown-item:active {
    background-color: #9ECB3B;
    color: #161616;
  }

  .stats-dropdown-item-team-name {
    margin: 0px;
  }

  .stats-dropdown-item-team-name:active {
    color: #161616;
  }
  
  .stats-button-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    padding: 20px 0px;
    gap: 30px; 
  }

  .stats-date-dropdown {
      flex-shrink: 0; 
  }

  .stats-sports-button-row {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 20px; 
  }

  .stat-sport-button {
    width: 70px; 
    height: 70px;
    cursor: pointer;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
  } 


  .stat-sport-button.active {
    transform: scale(1.1);
}

  .stats-leaderboard-wrap {
    background-color: #0E0E0E;
    display: flex;
    padding: 0px 20px;
    padding-bottom: 40px;
    align-items: center;
    align-self: 100%;
    width: 100%;
    border-radius: 20px;
    flex-direction: column;
  }

  .stats-leaderboard-title {
    font-family: "Proxima Nova";
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 4px;
    text-transform: uppercase;
    align-self: start;
    padding-top: 10px;
  }

.stats-leaderboard-row {
    width: 100%;
    display: flex;
    gap: 8px;
    justify-content: space-between;
}

.leaderboard-card {
    display: flex;
    flex: 1;
    flex-direction: column;
    border-radius: 16px;
    border: 1px solid #333;
    background: #1C1C1C;
    padding: 20px;
    min-width: 100px;
    width: fit-content;
    text-align: left;
    color: #F2F2F2;
    position: relative;
    overflow: hidden;
}

.leaderboard-card::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 40%;
  height: 100%;
  background-color: #9ECB3B;
  clip-path: polygon(70% 0%, 100% 0%, 100% 100%, 90% 100%);
}

.stat-title {
    font-family: "Proxima Nova";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    color: #F2F2F2;
    text-transform: none;
    letter-spacing: normal;
    padding: 0;
    margin: 0px;
}

.leader-name {
    font-size: 1rem;
    font-weight: bold;
    margin-top: 8px;
    text-transform: none;
    letter-spacing: normal;
    margin: 0px;
    padding-bottom: 20px;
}

.leader-value {
    font-family: "Manuka";
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: 64px; 
    text-transform: none;
    letter-spacing: normal;
    margin: 0px;
}

.stats-player-list {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    width: 100%;
    gap: 8px;
}

.player-card {
    display: flex;
    align-items: center;
    background: #1C1C1C;
    border-radius: 16px;
    border: 1px solid #333;
    padding: 0px 20px;
    color: #F2F2F2;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.player-card::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 40%;
  height: 100%;
  background-color: #0E0E0E;
  clip-path: polygon(10% 0%, 100% 0%, 100% 100%, 13% 100%);
  z-index: -1;
}

.player-card .dash-border {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 40%;
  height: 100%;
  background-color: #333;
  clip-path: polygon(10.4% 0%, 10% 0%, 13% 100%, 13.4% 100%);
  z-index: 0;
}

.player-card .rank {
  font-family: "Proxima Nova";
  font-size: 16px;
  font-weight: 600;
  width: 24px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rank-up {
    color: #9ECB3B;
    margin-right: 5px;
}

.rank-down {
    color: #EE325F;
    margin-right: 5px;
}

.player-card .player-info {
  padding-top: 12px;
  padding-left: 20px;
  flex-grow: 1;
}

.player-info .top-row {
  display: flex;
  flex-wrap: wrap; 
  align-items: center;
  margin: 0px;
}

.player-name {
  font-family: "Proxima Nova";
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
}

.player-team {
  font-family: "Proxima Nova";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  color: #D2D2D2;
}

.player-stats {
  font-family: "Proxima Nova";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  color: #F2F2F2;
}

.game-stats-text {
  margin-top: 4px;
  margin-bottom: 4px;
}

.player-badges {
  font-family: "Proxima Nova";
    display: flex;
    gap: 5px;
}

.badge {
    background: none;
    border: 1px solid #9ECB3B;
    padding: 4px 8px;
    border-radius: 12px;
    font-size: 0.8rem;
    color: #F2F2F2;
}

.input-stats-button {
  width: 100%;
  margin-top: 20px;
  display: flex;
  height: 62px;
  justify-content: center;
  align-items: center;
  align-self: 100%;
  border-radius: 16px;
  font-weight: 600;
  border: 1px solid #333;
  background-color: #1C1C1C;
}

.input-stats-button:hover {
  font-weight: 600;
  border-radius: 16px;
  background-color: #161616;
}

.input-stats-button:active {
  font-weight: 600;
  border-radius: 16px;
  border: 1px solid #9ECB3B;
  background-color: #9ECB3B;
  color: #050505;
}

.input-stats-link {
  width: 100%;
  text-decoration: none; 
}

/* Phone View (up to 768px) */
@media screen and (max-width: 768px) {
  .stats {
    padding: 10px 20px;
  }

  .stats-menu {
    background-color: transparent;
    padding: 0px;
  }

  .stats-menu-arrangement-desktop {
    display: none;
  }

  .stats-menu-arrangement-mobile {
    display: block;
    width: 100%;
  }

  .stats-sports-button-row-mobile {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding-bottom: 20px;
  }

  .stats-date-dropdown-mobile {
    width: 100%;
    padding-bottom: 8px;
  }

  .stats-date-dropdown-mobile .dropdown-button {
    font-family: "Proxima Nova";
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 16px; 
    letter-spacing: 3.2px;
    text-transform: uppercase;
    border-radius: 16px;
  }

  .stats-leaderboard-wrap {
    background-color: transparent;
    padding: 0px;
  }

  .stats-leaderboard-title {
    display: none;
  }
  
  .stats-leaderboard-row {
    display: none;
  }

  .player-card::after { 
    display: none;
  }

  .dash-border {
    display: none;
  }

  .player-badges {
    display: none;
  }

  .player-card {
    padding: 8px;
  }
  
  .player-card .player-info {
    gap: 0px;
    padding: 8px;
  }
}

@media screen and (max-width: 480px) {
  .stats-header {
    font-family: "Proxima Nova";
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px; 
    letter-spacing: 4px;
    text-transform: uppercase;
    padding: 10px 0px;
  }

  .stats-date-dropdown-mobile .dropdown-button {
    border-radius: 8px;
    padding-left: 18px;
  }

  .stats-team-dropdown-mobile .stats-dropdown-button {
    height: max-content;
    border-radius: 8px;
    padding: 10px;
  }

  .stats-dropdown-arrow {
    margin: 2px;
  }

  .player-card .player-info {
    gap: 0px;
    padding: 0px 8px;
  }

  .player-card .player-name {
    font-family: "Proxima Nova";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;  
  }

  .player-card .player-team {
    font-family: "Proxima Nova";
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 16px; 
  }

  .game-stats-text {
    font-size: 14px;
  }

  .input-stats-button {
    font-family: "Proxima Nova";
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 16px;
    letter-spacing: 2.8px;
    text-transform: uppercase;
    padding: 20px;
    max-height: fit-content;
  }
}