*, *::before, *::after {
  box-sizing: border-box;
}

body {
  background-color: #050505;
  width: 100%;
  overflow-x: hidden;
  padding: 0px;
  margin: 0px;
}

html {
  background-color: #050505;
  width: 100%;
  overflow-x: hidden;
}