.error-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: calc(100vh - 100px); /* Adjust for header/footer height */
    background-color: #000; /* Black background */
    color: #fff; /* White text */
    margin: 0; /* Remove default margin */
    padding: 0;
    width: stretch; /* Ensure full viewport width */
    overflow-x: hidden; /* Prevent horizontal scrolling */
  }
  
  .content-wrapper {
    max-width: 600px;
    margin: auto;
    padding: 1rem; /* Add padding to avoid touching edges */
  }
  
  .error-title {
    text-transform: uppercase;
    color: #F2F2F2;
    font-weight: 900;
    letter-spacing: 0.5px;
  }
  
  .error-description {
    text-align: center;
    color: #F2F2F2;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; 
    letter-spacing: 4px;
    text-transform: uppercase;
  }
  
  .divider {
    width: 1px; 
    height: 180px; 
    background-color: #F2F2F2;
    margin: 40px auto;
  }
  
  .back-home-button {
    font-weight: 500;
    background: #1C1C1C;
    color: #F2F2F2;
    border: 1px solid #333;
    border-radius: 16px;
    width: 240px;
    height: 60px;
    padding: 20px 50px 20px 50px;
    justify-content: center;
    align-items: center;
  }

  .back-home-button:hover {
    background-color: #161616; 
    color: #F2F2F2; 
  }
  
  /* Active (Clicked) State */
  .back-home-button:active {
    background-color: #9ECB3B; 
    color: #050505;
  }