.error-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: calc(100vh - 100px); 
    background-color: #050505;
    color: #F2F2F2;
    margin: 0; 
    padding: 0;
    width: 100%; 
    gap: 20px
  }
  
  .error-content-wrapper {
    padding: 1rem; 
  }
  
  .error-title {
    text-transform: uppercase;
    color: #F2F2F2;
    font-weight: 900;
    letter-spacing: 0.5px;
  }
  
  .error-description {
    text-align: center;
    color: #F2F2F2;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; 
    letter-spacing: 4px;
    text-transform: uppercase;
  }
  
  .divider {
    width: 1px; 
    height: 180px; 
    background-color: #F2F2F2;
    margin: 40px auto;
  }
  
  .back-home-button {
    width: 240px;
    height: 60px;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    background: #1C1C1C;
    color: #F2F2F2;
    border: 1px solid #333;
    border-radius: 16px;
    padding: 20px 50px;
    font-family: "Proxima Nova";
    text-align: center;
    margin: 40px auto;
  }
  
  .button-text {
    margin: 0; 
    font-size: 16px; 
    font-weight: 500; 
    color: #F2F2F2; 
  }
  
  .back-home-button:hover {
    background-color: #161616; 
    color: #F2F2F2; 
    border-radius: 16px;
  }
  
  .back-home-button:active {
    background-color: #9ECB3B; 
    color: #050505;
    border-radius: 16px;
    border: 0px;
  }

  .submit-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: calc(100vh - 100px); 
    background-color: #050505;
    color: #F2F2F2;
    margin: 0; 
    padding: 0;
    width: 100%; 
    gap: 20px
  }
  
  .submit-content-wrapper {
    padding: 1rem; 
  }
  
  .submit-title {
    text-transform: uppercase;
    color: #F2F2F2;
    font-weight: 900;
    letter-spacing: 0.5px;
  }
  
  .submit-description {
    text-align: center;
    color: #F2F2F2;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; 
    letter-spacing: 4px;
    text-transform: uppercase;
  }